/*
** Prince Stylesheet for localized output of Pages and TOC
** Copyright Johannes Gnaegi, eHealth Suisse
*/
@page {
  @bottom-right {
      content: "Seite " counter(page) " von " counter(pages);
  }
}

#toctitle {
	content: "Inhaltsverzeichnis" !important;
}

#toc h2 {
	string-set: toctt "Inhaltsverzeichnis";
	content: "Inhaltsverzeichnis" !important;
}