/*
** Prince Stylesheet for localized output of Pages and TOC
** Copyright Johannes Gnaegi, eHealth Suisse
*/

body {
 prince-hyphenate-patterns: "fr";
}
@page {
  @bottom-right {
      content: "Page " counter(page) " de " counter(pages);
  }
}
#toctitle {
	content: "Sommaire" !important;
}
