/*
** MediaWiki Print style sheet for CSS2-capable browsers.
** Copyright Gabriel Wicke, http://www.aulinx.de/
**
** Derived from the plone (http://plone.org/) styles
** Copyright Alexander Limi
*/

/* Thanks to A List Apart (http://alistapart.com/) for useful extras */
a.stub, a.new {
	color:#ba0000;
	text-decoration:none;
}
#toc {
	/*border:1px solid #2f6fab;
    border:1px solid #aaaaaa;
	background-color:#f9f9f9;*/
	padding:5px;
}
.tocindent {
	margin-left: 2em;
}
.tocline {
	margin-bottom: 0px;
}
/* images */
div.floatright {
	float: right;
	clear: right;
	margin: 0;
	position:relative;
	border: 0.5em solid White;
	border-width: 0.5em 0 0.8em 1.4em;
}
div.floatright p {
	font-style: italic;
}
div.floatleft {
	float: left;
	margin: 0.3em 0.5em 0.5em 0;
	position:relative;
	border: 0.5em solid White;
	border-width: 0.5em 1.4em 0.8em 0;
}
div.floatleft p {
	font-style: italic;
}
/* thumbnails */
div.thumb {
	margin-bottom: 0.5em;
	border-style: solid;
	border-color: White;
	width: auto;
	overflow: hidden;
}
div.thumb div {
	border:1px solid #cccccc;
	padding: 3px !important;
	background-color:#f9f9f9;
	font-size: 94%;
	text-align: center;
}
div.thumb div a img {
	border:1px solid #cccccc;
}
div.thumb div div.thumbcaption {
	border: none;
	padding: 0.3em 0 0.1em 0;
}
div.magnify {
	display: none;
}
div.tright {
	float: right;
	clear: right;
	border-width: 0.5em 0 0.8em 1.4em;
}
div.tleft {
	float: left;
	margin-right:0.5em;
	border-width: 0.5em 1.4em 0.8em 0;
}
img.thumbborder {
	border: 1px solid #dddddd;
}
/* table standards */
table.rimage {
	float:right;
	width:1pt;
	position:relative;
	margin-left:1em;
	margin-bottom:1em;
	text-align:center;
}
body {
	background: white !important;
	font-size: 11pt !important;
	margin: 0;
	padding: 0;
}
.noprint, div#jump-to-nav, div.top, div#column-one, #colophon, .editsection, .toctoggle, .tochidden, div#f-poweredbyico, div#f-copyrightico, li#viewcount, li#about, li#disclaimer, li#privacy {
	/* Hides all the elements irrelevant for printing */
    display: none;
}
ul {
	list-style-type: square;
}
#content {
	background: none !important;
	border: none !important;
	padding: 0 !important;
	margin: 0 !important;
}
#footer {
	background : white;
	border-top: 1px solid black;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
p, .documentDescription {
	margin: 1em 0 ! important;
	line-height: 1.2em;
}
.tocindent p {
	margin: 0 0 0 0 ! important;
}
pre {
	border: 0.1em solid gray;
	white-space: pre;
	font-size: 8pt;
	overflow: auto;
	padding: 1em 0;
	background : #efefef;
	color : black;
}
table.listing, table.listing td {
	border: 1pt solid black;
	border-collapse: collapse;
}
a {
	color: black !important;
	background: none !important;
	padding: 0 !important;
}
a:link, a:visited {
	color: #520;
	background: transparent;
	text-decoration: underline;
}
#content a.external.text:after, #content a.external.autonumber:after {
	/* Expand URLs for printing */
    content: " (" attr(href) ") ";
}
#globalWrapper {
	width: 100% !important;
	min-width: 0 !important;
}
#content {
	background : white;
	color : black;
}
#column-content {
	margin: 0 !important;
}
#column-content #content {
	padding: 1em;
	margin: 0 !important;
}
/* MSIE/Win doesn't understand 'inherit' */
a, a.external, a.new, a.stub {
	color: black ! important;
	text-decoration: none ! important;
}
/* Continue ... */
a, a.external, a.new, a.stub {
	color: inherit ! important;
	text-decoration: inherit ! important;
}
img {
	border: none;
}
img.tex {
	vertical-align: middle;
}
span.texhtml {
	font-family: serif;
}
#siteNotice {
	display: none;
}
table.gallery {
	border:  1px solid #cccccc;
	margin:  2px;
	padding: 2px;
	background-color:#ffffff;
}
table.gallery tr {
	vertical-align:top;
}
div.gallerybox {
	border: 1px solid #cccccc;
	margin: 2px;
	background-color:#f9f9f9;
	width:  150px;
}
div.gallerybox div.thumb {
	text-align: center;
	border: 1px solid #cccccc;
	margin: 2px;
}
div.gallerytext {
	font-size: 94%;
	padding: 2px 4px;
}
/*
** Diff rendering
*/
table.diff {
	background:white;
}
td.diff-otitle {
	background:#ffffff;
}
td.diff-ntitle {
	background:#ffffff;
}
td.diff-addedline {
	background:#ccffcc;
	font-size: smaller;
	border: solid 2px black;
}
td.diff-deletedline {
	background:#ffffaa;
	font-size: smaller;
	border: dotted 2px black;
}
td.diff-context {
	background:#eeeeee;
	font-size: smaller;
}
.diffchange {
	color: silver;
	font-weight: bold;
	text-decoration: underline;
}
/**
 *	Christoph Päper <webdesign@crissov.de> <http://crissov.de>
 *	@media print
 *	url("http://crissov.de/print.css")
 *	Stand: 2003-10-21
 */

body {
	font-family:             Garamond, serif;
	/*font-size-adjust: 0.39;*/
	background-color:               white;
}

cite {
	font-style:              normal;
	font-stretch:            narrower;
	letter-spacing:   0.2em;
}
cite.person, cite.name {
	font-variant:            small-caps;
}
cite.tm, cite.reg, cite.copy {
	font-style:              italic;
	font-variant:            normal;
	letter-spacing:   0;
}
cite.tm:after {
	content: "™"
}
cite.reg:after {
	content: "®"
}
cite.copy:after {
	content: "©"
}
var {
	font-style:              oblique;
}
kbd {
	border:           thin outset gray;
}
acronym {
	font-size:        95%;
}
abbr {
	word-spacing:    -0.33ex;
	white-space:             nowrap;
}
samp {
	color:                          gray;
}
em {
	font-family:             sans-serif;
	font-style:              normal;
}
strong, em em {
	font-weight:             bolder;
}
blockquote, q {
	font-style:              italic;
}
blockquote {
	border-left:      0.5em solid gray;
	padding-left:     1.0em;
}
/*	Footer etc.	*/
/*h1, h2.untertitel,
address, address+p
{
	text-align:              center;
}
*/
address {
	margin-top:       2em;
	border-top:       medium solid #EEE;
	padding-top:      1em;
}
address+p img, p.language {
	display:                 none;
}
/*	Navigation	*/
map {
	display:                 none;
}
/*
 *	Listen
 */
dl, ol, ul {
	margin:           0.5em 1em;
	/*page-break-inside: avoid;*/
}
li {
	margin-left:   1em;
}
dt {
	margin-left:   0;
}
dd {
	margin-left:   4em;
}
dl dl {
	margin-left:   0;
}
li dl {
	margin-left:  -1em;
}
ul {
	list-style-type:      square;
}
/*
 *	Tabellen
 */
table {
	/*	width:            70%;
*/	margin:           2em auto;
	/*border-collapse:         collapse;*/
	/*page-break-before:       always;*/
}

table .artdecor {
	margin: 0;
}

h1+table, h2+table, h3+table, h4+table, h5+table, h6+table {
}
caption {
	font-size:        1em;
	font-weight:      bolder;
}

thead, th
{
	font-weight: bolder;
	/*text-align: center;*/
	background-color: #dddddd;
}

thead {
	display:table-header-group;
}
tbody {
	/*border:           thin   solid  black;*/
}
tfoot {
	display:table-footer-group
}

td, tbody th {
	/*border:           thin   solid  black;
	border-width:     0 thin;
	text-align:              left;*/
}
/*
 *	Überschriften
 */
h1, h2, h3, h4, h5, h6 {
	font-weight:             bold;
}
h1 {
	page-break-before: always;
	font-size:        1.4em;
}
h2 {
	font-size:        1.3em /*; page-break-before: always*/
}
h3 {
	font-size:        1.2em
}
h4 {
	font-size:        1.1em
}
h5 {
	font-size:        1.0em
}
h6 {
	font-size:        1.0em
}
/*
 *	Links
 */
a {
	text-decoration: none !important;
	background-color: white;
	color: black;
}
/*==================================================
style-sheets.de
Stylesheet fuer die Druckausgabe
(c) 2003-2004 by Gerrit Kaiser <gk@style-sheets.de>
==================================================*/

/* Fuer die Druckausgabe ueberfluessiges abschalten */
#nav, #val, .legacycontent {
	display: none;
}
/* Geeignete Eigenschaften fuer die Druckausgabe setzen */

body {
	margin: 0;
	padding: 0;
	font: 9pt Arial, Palatino, "Times New Roman", Times, serif;
	background: transparent;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Lucida", Verdana, "Bitstream Vera Sans", sans-serif;
	font-weight: bold;
	margin: .75em 0 .5em 0;
}
h2 {
	font-size: 1.3em;
	/*text-transform: uppercase; 
    letter-spacing: .05em;*/
    color: #4F81BD;
}
h3 {
	font-size: 1.1em;
	color: #4F81BD;
}
h4 {
	font-size: 1.0em;
	color: #4F81BD;
}
h5 {
	font-size: 1.0em;
}
h6 {
	font-size: 1.0em;
}
ol, ul, li {
	font-size:  1.0em;
	line-height: 1.2;
	margin-top: .2em;
	margin-bottom: .1em;
}
p {
	font-size: 1.0em;
	line-height: 1.2;
	margin: 0 0 1em 0;
	orphans: 3;
	widows: 3;
}
/*p+p {
  margin-top: -1em;
  text-indent: 2em;
}
*/

code {
	font-size: .76em; /* Code wird sonst viel zu gross gerendert */
	font-family: Monaco, monospace;
	color: #333;
	background: transparent;
}
a, a:visited, a:hover, a:visited:hover {
	color: #04667e;
	background: transparent;
	text-decoration: none;
}
a img {
	border: none;
}
/* Diese Regel fuegt in CSS2-Browsern die Link-Adresse hinter Links ein. */ 
/*a:link:after, a:link:visited:after {

  content: " (Link auf <" attr(href) ">) ";

  font-size: 76%;
  color: #999;

  background: transparent;
}*/


/* Bei internen Links muss noch die eigene Domain ausgegeben werden */

/*a[href^="/"]:link:after {

  content: " (Link auf <http://style-sheets.de " attr(href) ">) ";

}*/

/* Innerhalb von Beispielen sind ausgedruckte URLs unerwuenscht */
.beispiel a:link:after, .beispiel a:link:visited:after {
	content: "";
}
#sitemast {
	padding-bottom: 1em;
	margin-bottom: 1.5em;
	border-bottom: 20pt solid #c8c8c8;
}
#sidecontent {
	border: 1pt dashed;
	background: #dde5f3;
	font-size: .95em;
	margin: 1cm;
	padding: 5pt;
}
#footer {
	border-top: 1.5pt solid;
	font-size: .95em;
	color: #333;
	text-align: center;
	display:none;
}
#sidecontent p, #footer p {
	text-indent: 0;
}
#sidecontent h2 {
	margin: 0;
}
.postinfos {
	font-weight: bold;
	border-bottom: 1pt solid;
	width: 50%;
}
div.beispiel {
	border: 2pt solid #bbb;
	background-color: #eee;
	padding: 3pt;
}
h1 {
	color: #345A8A;
	padding-bottom: 1px;
	border-bottom: 1px #aaaaaa solid;
}

#firstHeading
{
	display:none;
}

#left, #right, #header, #footer {
	display:none;
}
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.right {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
}
img.left {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
}
.right {
	float: right;
}
.left {
	float: left
}


/* set headers and footers */

@page {
    size: A4;
    /* ruler sidebar */
    /*
    string-set: burl "vr50.svg";
    background: url(vr50.svg) no-repeat -27mm 0 fixed;
    background-size: 100% 100%;
    */
    /*
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 40 40' height='25' width='25' xmlns='http://www.w3.org/2000/svg'><text x='10' y='10' fill='red'>11</text><path fill='rgb(91, 183, 91)' d='M2.379, 14.729L5.208,11.899L12.958,19.648L25.877,6.733L28.707,9.561L12.958,25.308Z'/></svg>");
    */
    /*
    string-set: burl "vr50-" counter(page) ".svg";
    background-image: url("http://wiki.hl7.de/images/thumb/Under_construction_icon-blue.svg/48px-Under_construction_icon-blue.svg.png");
    content: attr("url", burl);
    background-repeat: no-repeat;
    margin: 2cm;
    */
    /*font: 11pt/1.3 "Gentium", serif;*/
    

  @top-right { 
    content: string(title);
    font-style: italic;
  /*
    string-set: burl "(vr50-" counter(page) ".svg)";
    string-set: burl "http://wiki.hl7.de/images/thumb/Under_construction_icon-blue.svg/48px-Under_construction_icon-blue.svg.png";
    /*background-image: url (string(burl)) ;
    background-image: url(data:image/gif;base64,R0lGODlhEAAQAOZ3AHe8YHO6XDSBLIe4cF+eUKDZlq/fppfVi6vUnLTZparUnW61WFaYSJbUi4/CfTmFMH2+Z73ktpbTiXeuY0CJNnnBZNTrz4e4cbXbqI7MhHzDa7jdr1OWRZXUimyqWkKNNrvcr3i0ZIm+eIrCec7pyVCZQXy6ZKbQloXNeZPNiKDZlWirU3DBY0KLOODy3LbdrESMOrLbqInIf42+e53YknG+X3rGa2WrVYHMdXS3XLfgr7PZpZfMhTSCLMXowJTTirfaqrTapqXbm2+1WLXfrKbPlm+1WX25a3WsYT2INGajVmuqWH6yaXyxZzeEL0OPOHqvZUeOPLPdqYO1bZnRi5jMinm9bsvmw37Hb6TOlGmlWH25an28Zn7BabTdqobJejyHMozLgV2cTY7Sg5LFgICzatzx2K/fpX+5bXS3W5jMh4rPfYbJfNfu0oS2bmqsW77itleeRXK5W5jLhpfHhXC4Wf///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAHcALAAAAAAQABAAAAengHeCg4SFhnduZU0Th4MXWVcWJBtoWocDIC4RQgVnPiMEhQNAZjQpGQ0dYzpHDIR0bSo/MnZ2KBpYRHGDUy8GYWxWtW8AAVRkUYJMcAdftc92dV0KLYJQUms40LV1EAhJgkhVEjYsN9x1cjwzD4MrXhU1ANwLOUFPhEpbMcV1RkNpdnjoUUhMCAxquJiYk2CJgEMcSjg4UUTEh4eN7sCgAMZJxo+DAgEAOw==) !important;
    
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 40 40' height='25' width='25' xmlns='http://www.w3.org/2000/svg'><text x='10' y='10' fill='red'>" counter(page) "</text><path fill='rgb(91, 183, 91)' d='M2.379, 14.729L5.208,11.899L12.958,19.648L25.877,6.733L28.707,9.561L12.958,25.308Z'/></svg>");
    */
    /*
    prince-script(chbgi, counter(page)) ;
    background-repeat: no-repeat;
    background-attachment: 20 0 fixed;
    background-position: 100% 100%;
    
    */
  }
  @top-left {
      
    /*content: string(source);
    string-set: burl "vr50-" counter(page) ".svg";
    font-style: italic;
    content: "x-" "vr50-" counter(page) ".svg";
    */

   }
  @top-left-corner {
    /* ruler sidebar */
  }
  @bottom-right {
      content: "Seite " counter(page) " von " counter(pages);
    vertical-align: top;
    padding-top: 1em;
    border-top: thin solid gray;
  }
}

@page:first { 
    @top { content: normal }
    @bottom { content: normal }
}

/*
@page:left { 
    @top { content: normal }
    @bottom { content: normal }
}
@page:right { 
    @top { content: normal }
    @bottom { content: normal }
}
*/


#siteSub { 
	/*string-set: source content() */
	display: none ;
}

#contentSub { 
	display: none ;
}

h1.firstHeading { 
  /*float: top; */
  /*string-set: title content();*/
  /* content: "XYZ2";*/
  padding-bottom: 0.2em;
  border-bottom: thin solid black;
  margin-bottom: 1em;
}

#footer { padding-top: 1em }
#footer ul { 
  list-style-type: none;
  margin-left: 0;
}

#footer li { display: inline }
#footer br { display: none ! important }
#privacy, #about, #disclaimer { display: none }

hr {
	height: 1pt;
	border: 0 ;
    border-bottom: thin solid gray;
	margin: .2em 0 .2em 0;
}
.ppcode {
	font-size: .76em; /* Code wird sonst viel zu gross gerendert */
}

.thumb, .thumbinner, img, .thumbcaption { 
  border: none; margin: 0; padding: 0;
}

.thumb { 
  margin: 0.2em 0;
  float: prince-column-top-if-necessary; 
}

.thumb img {
  width: 100%;
  height: auto;
}

.thumbcaption { 
   background: #fff; 
   text-align: left; 
   font-style: italic;
   font-size: 1em;
   line-height: 1.2em;
   padding-bottom: 0.3em;
   border-bottom: thin solid gray;
   margin-bottom: 1em;
}

div, img {
	max-width: 100%
}

img.thumbborder { border: thin solid black }

.print-document-logohead-left {
	/*text-align: center;
	margin-left: auto;
    margin-right: auto;
	padding: 20 20 0 0 ;
    float:left;*/
}
div.online-document-information,
div.online-document-part {
	display: none;
}
div.print-document-information {
	
	background-color: #fff;
	padding: 0 10mm 0mm 10mm;
	color: #000;
	border-left: 0mm solid #fff;
	height: 250mm;
    
    /*prince-script(removeHiddenNodesByClass, "remove-when-print");*/
}
.gdk-bag-header {
    text-align:left;
}
.doc-logohead-left {
	/*display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20 20 0 0 ;
	width: 20%;
    clear:both; */
    float:left;
    margin: 2px;
    
}
.doc-logohead-right {
    float:right;
    margin: 2px;
}
.doc-title {
    /*font-weight: bolder;*/
	font-size: 3em;
	text-align: left;
	padding-top: 60mm;
	hyphens: none;
}
.doc-short {
	display: none;
	string-set: title content();
}
.doc-type {
	font-size: 1.5em;
	font-style: italic;
	text-align: left;
	padding-top: 3em;
}
.doc-submitted {
	text-align: left;
    margin-top: 20mm;
	padding-top: 3em;
}
.doc-status {
	font-style: italic;
	text-align: left;
	padding-top: 3em;
}
.doc-vbox {
	margin: 5em;
	border-top: thin solid gray;
	border-bottom: thin solid gray;
	padding-left: 1em;
	text-align: left;
	position: absolute;
    /*left: 20mm;*/
    top: 150mm;
}
.doc-copyright {
	text-align: left;
	color:#555;
    position: absolute;
    /*left: 40mm;*/
    top: 225mm;
    line-height: 10%;
}
.doc-footerdiv {
    position:absolute;
    top:230mm;
    left:120mm;
}

/* counters */
body {
    counter-reset: h1 h2 h3 h4 h5;
    counter-reset: toc_chapter toclevel-1 toclevel-2 toclevel-3 toclevel-4 toclevel-5;
    prince-hyphens: auto;
}

h1 {
    counter-increment: h1;
    counter-reset: h2 h2 h4 h5;
}
h2 {
    counter-increment: h2;
    counter-reset: h3 h4 h5;
}
h3 {
    counter-increment: h3;
    counter-reset: h4 h5;
}
h4 {
    counter-increment: h4;
    counter-reset: h5;
}
/*h5 {
    counter-increment: h5;
}*/

h1:before {
    content: counter(h1) " ";
}
h2:before {
    content: counter(h1) "." counter(h2) " ";
}
h3:before {
    content: counter(h1) "." counter(h2) "." counter(h3) " ";
}
h4:before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " ";
}
/*h5:before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " ";
}*/

#pageruler {
  white-space: pre;
  margin-right: 40mm;
  font-size: 50%;
  /*content: "\B0 ____ \B0  \B0  \B0  \B0 \A"; */ /* ornaments */
}

p11111:before {
  white-space: pre;
  font-size: 50%;
  content: counter(linecounter) " ";
  counter-increment: linecounter;
}

.tocnumber { 
	display: none; 
}
#toctitle {
	string-set: toctt "Inhaltsverzeichnis";
	content: string(toctt);
	font-size: 1.4em;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Lucida", Verdana, "Bitstream Vera Sans", sans-serif;
	font-weight: bold;
	margin: .75em 0 .5em 0;
    color: #4F81BD;
}

/*
ul.toc, ul.toc ul { 
  list-style-type: none;
  margin: 0; padding: 0;
}
ul.toc ul {
  margin-left: 1em;
  font-weight: normal;
}
ul.toc > li { 
  font-weight: bold;
  margin-bottom: 0.5em;
}
ul.toc a::after {
  content: leader('.') target-counter(attr(href), page);
  font-style: normal;
}
ul.toc > li.frontmatter a::after {
  content: leader('.') target-counter(attr(href), page, lower-roman);
  font-style: normal;
}
ul.toc > li.endmatter a::after {
  content: leader('.') target-counter(attr(href), page);
  font-style: normal;
}
ul.toc > li.chapter::before {
  content: "Chapter " counter(toc-chapter, decimal);
  display: block;
  margin: 1em 0 0.1em -1cm;
  font-weight: normal;
  counter-increment: toc-chapter;
  page-break-after: avoid;
}
*/

#toc::before {
	font-size:1.5em;
	line-height: 1.2;
	padding-top: 1em;
	margin: 2em 0 0.5em 0;
	clear: both;
	font-weight: bold;
*/
}
#toc {
	border: 1px solid #fff !important;
	background-color: #fff !important;
	width: 100%;
    page: table-of-contents;
}
@page table-of-contents {
    @top-right { 
    	content: string(toctt);
    	font-style: italic;
  	}
  	@bottom-center {
    	content: counter(page, lower-roman);
    	vertical-align: top;
    	padding-top: 1em;
    	border-top: thin solid gray;
  }
}
.toc ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.toc li { 
  list-style-type: none;
}

#bodyContent li.toclevel-1 a:after {
  content: leader('.') target-counter(attr(href, url), page);
}

#bodyContent li.toclevel-1 {
    font-weight: bold;
}
#bodyContent li.toclevel-2 {
    font-weight: normal;
}

#bodyContent li.toclevel-1 .toctext:before {
    content: counter(toc_chapter) " ";
}
 
#bodyContent li.toclevel-1  {
    counter-increment: toc_chapter;
    counter-reset: toc_h2;
}
 
#bodyContent li.toclevel-2 .toctext:before {
	content: counter(toc_chapter) "." counter(toc_h2) " ";
}
 
#bodyContent li.toclevel-2  {
	counter-increment: toc_h2;
	counter-reset: toc_h3;
}
 
#bodyContent li.toclevel-3 .toctext:before {
	content: counter(toc_chapter) "." counter(toc_h2) "." counter(toc_h3) " ";
	counter-increment: toc_h3;
}
 
#bodyContent li.toclevel-3 {
	counter-reset: toc_h4;
}
 
#bodyContent li.toclevel-4 .toctext:before {
	content: counter(toc_chapter) "." counter(toc_h2) "." counter(toc_h3) "." counter(toc_h4) " ";
	counter-increment: toc_h4;
}
 
#bodyContent li.toclevel-4 {
	counter-reset: toc_h5;
}
 
#bodyContent li.toclevel-5 .toctext:before {
	content: counter(toc_chapter) "." counter(toc_h2) "." counter(toc_h3) "." counter(toc_h4) "." counter(toc_h5) " ";
	counter-increment: toc_h5;
}

/* cross references */

a[href^="#"]::before {
    content: '"' target-counters(attr(href), h1, ".") " ";
    
}
a[href^="#"]::after {
    content: '"';
    
}

a[href^="#"] {
 prince-text-replace: "#" "";
}

#toc a[href^="#"]::before,
#reference a[href^="#"]::before,
sup.reference a[href^="#"]::before, 
#toc a[href^="#"]::after,
#reference a[href^="#"]::after,
sup.reference a[href^="#"]::after  {
content: none;
}

/*
a.pageref::after { content: " on page " target-counter(attr(href), page); }
a.chapref::before { content: " Chapter " target-counter(attr(href), chapter) ", "; }

*/

/* index */

/*
ul.index { 
  list-style-type: none;
  margin: 0; padding: 0;
  column-count: 2;
  column-gap: 1em;
}

ul.index a::after { content: ", " target-counter(attr(href), page); }
*/

.printfooter {
	display: none;
}

.catlinks {
	display: none;
}

.mw-geshi {font-size: 0.7em !important;}

/* make examples display smaller when printed */
.explrendered {
    font-size: 7pt !important;
}
.artdecor tt > strong {
    hyphens: none;
    prince-hyphens: none;
    font-size: 80% !important;
}

/*
 eHealth Suisse
 */
sup.reference a {
    font-size: 0.6em;
}

dl dd {
    margin-top: 0;
    padding-top: 0;
    margin-bottom:0;
    padding-bottom:0;
}

table.doc,
table.doc tr,
table.doc td,
table.doc th,
table.doc p {
    font-size: 1em;
}

/*==================================================
 CSS style sheet for Wikipedia articles example from princexml.com
 
 Written by Hakon Wium Lie March 2008.
 ==================================================*/

/* remove those pesky '' characters */

/*body { prince-text-replace: "'" "\2019" }*/


/* remove visible markers references */

/*ol.references li a[href|="#cite_ref"] { display: none }*/
